/* font-family: "Montserrat", serif; */

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

p {
    font-family: "Montserrat", serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.48em;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 20px;
}

.section__container {
    background-color: #ff4646;
    border-radius: 12px 12px 0 0;
}

.caption {
    font-family: "Allura", serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 5px;
    color: #fff;
}

.btn {
    transition: 0.5s;
    border: none;
    border-radius: 20px;
    background-color: #181c29;
    color: #fff;
    font-size: 12px;
    font-family: "Montserrat", serif;
    font-weight: 600;
    letter-spacing: 0.05em;
    padding: 20px 32px;
    text-transform: uppercase;
}

.btn:hover {
    background-color: #fff;
    color: #181c29;
    transition: 0.7s ease;
}

.title {
    font-family: "Montserrat", serif;
    font-weight: 600;
    text-transform: uppercase;
}

.header__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px 0;
}

.header__menu {
    display: flex;
    align-items: center;
}

.menu__item {
    padding-right: 48px;
}

.menu__link {
    position: relative;
    color: #181c29;
    font-family: "Montserrat", serif;
    font-size: 12px;
    letter-spacing: 0.05em;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.05em;
}

.menu__link:hover {
    color: #ff4646;
    transition: 0.2s ease;
}

.menu__link:hover::before {
    content: "";
    transition: 0.5s ease;
    position: absolute;
    background-color: #ff4646;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ff4646;
    opacity: 0.1;
    width: 88px;
    height: 40px;
    border-radius: 12px;
}

.gift {
    position: relative;
    padding: 120px 0;
}

.gift {
    background-image: url("../images/bg-snow.png"), url("../images/bg-ball.png");
    background-size: cover, contain;
    background-position: center, center;
    background-repeat: no-repeat, no-repeat;
}

.gift__content-container {
    width: 425px;
    height: 404px;
    text-align: center;
    margin: 0 auto;
}

.gift__content-container p:first-child {
    padding-bottom: 12px;
}

.gift__content-container p:last-child {
    padding-top: 12px;
}

.gift__title {
    font-size: 32px;
    letter-spacing: 0.18em;
    line-height: 150%;
    padding-bottom: 12px;
    color: #fff;
}

.hero {
    padding: 60px 0;
    background-image: url("../images/bg-snow.png");
    background-size: cover, contain;
    background-position: center, center;
    background-repeat: no-repeat, no-repeat;
}

.hero__content {
    width: 1276px;
    height: 528px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero__content-text {
    padding: 100px 152px 100px 60px;
}

.about {
    color: #ff4646;
    padding-bottom: 20px;
}

.hero__title {
    padding-bottom: 20px;
    font-size: 24px;
    letter-spacing: 0.16em;
}

.hero__text {
    font-size: 16px;
}

.hero__container-img {

}

.hero__img {
    border-radius: 12px;
}

